com.sap.dirigible/com.sap.dirigible.parent/ide/com.sap.dirigible.ide.template.ui.is/src/com/sap/dirigible/ide/template/ui/is/templates/web-service-provider-with-javascript-implementation.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="${fileNameNoExtensionTitle}Service"
    targetNamespace="http://${fileNameNoExtension}.dirigible.sap.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://${fileNameNoExtension}.dirigible.sap.com/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema elementFormDefault="unqualified"
			targetNamespace="http://${fileNameNoExtension}.dirigible.sap.com/" version="1.0"
			xmlns:tns="http://${fileNameNoExtension}.dirigible.sap.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="${fileNameNoExtension}Request" type="tns:${fileNameNoExtension}RequestType" />
			<xs:element name="${fileNameNoExtension}Response" type="tns:${fileNameNoExtension}ResponseType" />
			<xs:complexType name="${fileNameNoExtension}RequestType">
				<xs:sequence>
					<xs:element name="param1" type="xs:string" />
					<xs:element name="param2" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="${fileNameNoExtension}ResponseType">
				<xs:sequence>
					<xs:element name="result1" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="${fileNameNoExtension}RequestMessage">
		<wsdl:part element="tns:${fileNameNoExtension}Request" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="${fileNameNoExtension}ResponseMessage">
		<wsdl:part element="tns:${fileNameNoExtension}Response" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="${fileNameNoExtensionTitle}PortType">
		<wsdl:operation name="${fileNameNoExtension}Operation">
			<wsdl:input message="tns:${fileNameNoExtension}RequestMessage" name="${fileNameNoExtension}RequestMessage">
			</wsdl:input>
			<wsdl:output message="tns:${fileNameNoExtension}ResponseMessage" name="${fileNameNoExtension}ResponseMessage">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="${fileNameNoExtensionTitle}SoapBinding" type="tns:${fileNameNoExtensionTitle}PortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="${fileNameNoExtension}Operation">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="${fileNameNoExtension}RequestMessage">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="${fileNameNoExtension}ResponseMessage">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="${fileNameNoExtensionTitle}Service">
		<wsdl:port binding="tns:${fileNameNoExtensionTitle}SoapBinding" name="${fileNameNoExtensionTitle}Port">
			<soap:address location="http://localhost:8080/${endpointAddress}" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
